# generated report schemas
*-report-schema.json
node_modules/
npm-debug.log*
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-debug.log*
yarn-error.log*
piperider-metadata.json
