
name: Node.js - E2E, Unit Tests, Lint (for PR)

on:
  pull_request:
    types: [opened, synchronize, reopened]
      # Trigger when PR is created and/or head of branch is updated.
    paths:
      - "static_report/**"
      - "piperider_cli/**"
      # Trigger when diffs detected in statics source code
    branches:
      - main
      # Only PR target is `main`

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./static_report

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: 16

    - uses: pnpm/action-setup@v2.2.2
      with:
        version: 7
        run_install: false

    - name: Get pnpm store directory
      id: pnpm-cache
      shell: bash
      run: |
        echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

    - uses: actions/cache@v3
      name: Setup pnpm cache
      with:
        path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
        key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
        restore-keys: |
          ${{ runner.os }}-pnpm-store-

    - name: Install dependencies
      working-directory: ./static_report
      run: pnpm install --frozen-lockfile

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Prepare Piperider Data & E2E Builds (2+1 runs; 1+1 comparison)
      working-directory: .
      run: |
        pwd
        pip install -r requirements.txt

        which piperider
        piperider version

        bash static_report/src/sdlc/generate-e2e-data.sh first

        cd static_report
        pnpm run embed:html -- e2e
        pnpm run bundle:e2e
        cd ..

        bash static_report/src/sdlc/generate-e2e-data.sh second

        cd static_report
        pnpm run embed:html -- e2e
        pnpm run bundle:e2e:case
        cd ..

        zip -r reports.zip ./static_report/build

    - name: Cypress run (E2E)
    # Parallelization only for cypress dashboard https://www.cypress.io/pricing/
      uses: cypress-io/github-action@v2
      with:
        install: false
        record: false
        working-directory: ./static_report
        config-file: cypress.config.ts
        start: |
          pnpm run serve:e2e:norm:single
          pnpm run serve:e2e:norm:comparison
          pnpm run serve:e2e:case:single-edge
          pnpm run serve:e2e:case:comparison-asymmetric
        wait-on: 'http://localhost:3000, http://localhost:3001, http://localhost:4000, http://localhost:4001'

    - uses: actions/upload-artifact@v3
      with:
        working-directory: ./static_report
        name: report-artifacts
        path: reports.zip

    - name: Build Apps
      run: pnpm run build
    
