# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Release to PyPI

on:
  push:
    tags: 'v*'


jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Run tests
        run: |
          make test
      - name: Release
        run: |
          # get version from GITHUB_REF
          # input: "refs/tags/v0.1.0"
          # output: "0.1.0"

          # update version number
          echo "${GITHUB_REF:11}" > ./piperider_cli/VERSION

          # generate pypirc
          echo "$PYPIRC" > $HOME/.pypirc

          # release to PyPI
          make release
        env:
          PYPIRC: ${{ secrets.PYPI }}
